@model Barbearia.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar user</h1>

<hr />
<div>
    <a asp-action="Index" class="text-black-50">Voltar</a>
</div>

<div class="Geral">
    <div class="col-md-4 containerForm">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameUser" class="control-label"></label>
                <input asp-for="NameUser" class="form-control" id="nameUser"/>
                <span asp-validation-for="NameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelUser" class="control-label"></label>
                <input asp-for="TelUser" class="form-control" id="telUser" />
                <span asp-validation-for="TelUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailUser" class="control-label"></label>
                <input asp-for="EmailUser" class="form-control" id="emailUser" />
                <span asp-validation-for="EmailUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentoUser" class="control-label"></label>
                <input asp-for="DocumentoUser" class="form-control" id="documentoUser" maxlength="14" />
                <span asp-validation-for="DocumentoUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumentoId" class="control-label"></label>
                <select asp-for="TipoDocumentoId" class ="form-control" asp-items="ViewBag.TipoDocumentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeUserId" class="control-label"></label>
                <select asp-for="TypeUserId" class ="form-control" asp-items="ViewBag.TypeUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SenhaUser" class="control-label"></label>
                <input asp-for="SenhaUser" class="form-control" type="password" id="senhaUser" />
                <span asp-validation-for="SenhaUser" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-success" id="btn" onclick="CheckCadastro()">Cadastrar</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
