@model IEnumerable<Barbearia.Models.Salao>

@{
    ViewData["Title"] = "Home Page";
}

<div id="meuCarrosel" class="card slide" data-ride="carrosel">
<ul class="car-img">
    <li data-target="#myCar" data-slide-to="0"</li>
    <li data-target="#myCar" data-slide-to="1"</li>
    <li data-target="#myCar" data-slide-to="2"</li>
</ul>

<div class="car-inner">
    <div class="carousel-item select">
            <img class="imgs" src="https://img.freepik.com/fotos-premium/espaco-masculino-interior-de-barbearia-moderna-gerado-por-ia_866663-5580.jpg" />
    </div>
    <div class="carousel-item">
           <img class="imgs" src="https://barbeariadoze.com.br/wp-content/uploads/2022/07/abz2-copiar-scaled.jpg" />
    </div>
    <div class="carousel-item">
           <img class="imgs" src="https://hinova.com.br/wp-content/uploads/2017/07/Barbearia.jpg" />
    </div>
    <div class="carousel-item">
            <img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqrzR6UnfBHn7D0dlp7idQnT0NHKdqBTe6IUCzy8p3EyAOITfFXQLpTQg8TnEZGie0pF0&usqp=CAU" />
    </div>

</div>


<a class="carousel-control-prev" href="#myCar" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
</a>
<a class="carousel-control-next" href="myCar" role="button" data-slide="next">
    <span class="carousel-control-next-icon" arial-hidden="true"></span>
    <span class="sr-only">Próximo</span>
</a>


</div>

<div class="text-center">
    <h1 class="textoh1">Barbearia</h1>
    <a href="/"><img src="img/204-removebg-preview.png" img class="img" /></a>
    <p>Desenvolvido por Tomás, Rodrigo, Valmir e Lucas.</p>
    <h2>Pesquisar salões cadastrados:</h2>
    <div>
        <!--Cria um form que sera chamado no metodo index, controler de pessoa atraves do metodo Get, essse (arrob<a href="c:\users\aluno\desktop\sprint 3\aula 01 c sharp\controllers\pessoacontroller.cs">c:\users\aluno\desktop\sprint 3\aula 01 c sharp\controllers\pessoacontroller.cs</a>a) é como se fosse um pedaço de C# dentro da´pesquisa-->
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <p>
                Digite aqui sua pesquisa: @Html.TextBox("pesquisa") 
                <input type="submit" value="Pesquisar" />
            </p>
        }
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.NameSalao)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.NameSalao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary text-decoration-none btn-sm">Editar</a> |
                    <a href="/Salao/Details/@item.Id" class="btn btn-outline-warning text-decoration-none btn-sm">Detalhes</a> |
                </td>
            </tr>
            }
    </tbody>
</table>

</div>