﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="textoh1">Barbearia</h1>
    <img src="img/204-removebg-preview.png"img/>
    <p>Desenvolvido por Tomás, Rodrigo, Valmir e Lucas.</p>
</div>