@model Barbearia.Models.Salao

@{
    ViewData["Title"] = "Cadastrar Salão";
}

<h1>Cadastrar salão</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameSalao" class="control-label"></label>
                <input asp-for="NameSalao" class="form-control" />
                <span asp-validation-for="NameSalao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CidadeSalao" class="control-label"></label>
                <input asp-for="CidadeSalao" class="form-control" id="cidade" />
                <span asp-validation-for="CidadeSalao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuaSalao" class="control-label"></label>
                <input asp-for="RuaSalao" class="form-control" id="rua" />
                <span asp-validation-for="RuaSalao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BairroSalao" class="control-label"></label>
                <input asp-for="BairroSalao" class="form-control" id="bairro" />
                <span asp-validation-for="BairroSalao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3 mt-3">
                    <span asp-validation-for="CepSalao" class="text-danger"></span>
                    <label asp-for="CepSalao" class="control-label m-3"></label>
                    <input asp-for="CepSalao" class="form-control" id="CEP" placeholder="CEP do salão" aria-label="CEP do salão" aria-describedby="button-addon2" size="10" maxlength="9" />
                    <button class="btn btn-outline-success" type="button" onclick="VerificarCep()" id="button-addon2">Verificar</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="User" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-outline-success" >Cadastrar</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
