html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: slategrey;
  color: white;
}
.textoh1 {
    font-size: 6em;
    border-bottom: 2px solid #927f7f;
}
.img {
    width: 18rem;
    height: 18rem;
}
footer div{
    color: white;
}
footer div a{
    color: white;
    text-decoration: none;
}
.imgheader{
    width: 4rem;
    height: 4rem;
}