html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: slategrey;
  color: white;
}
.textoh1 {
    font-size: 430%;
    border-bottom: 2px solid #927f7f;
}
.img {
    width: 18rem;
    height: 18rem;
}
footer div{
    color: white;
}
footer div a{
    color: white;
    text-decoration: none;
}
.imgheader{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

/*Style page de cadastra salao*/

.containerForm {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: gray;
    border-radius: .4rem;

}

/*Style btns tabela*/

.btns {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

/*Botão de deletar*/
.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

    .svgIcon path {
        fill: white;
    }

.button:hover {
    width: 100px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

    .button:hover .svgIcon {
        width: 30px;
        transition-duration: .3s;
        transform: translateY(60%);
    }

.button::before {
    position: absolute;
    top: -30px;
    content: "Deletar";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

/*TESTE*/
button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

    button, button span {
        transition: 200ms;
    }

        button .text {
            transform: translateX(35px);
            color: white;
            font-weight: bold;
        }

        button .icon {
            position: absolute;
            border-left: 1px solid #c41b1b;
            transform: translateX(110px);
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button svg {
            width: 15px;
            fill: #eee;
        }

        button:hover {
            background: #ff3636;
        }

            button:hover .text {
                color: transparent;
            }

            button:hover .icon {
                width: 150px;
                border-left: none;
                transform: translateX(0);
            }

        button:focus {
            outline: none;
        }

        button:active .icon svg {
            transform: scale(0.8);
        }